[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
wily = "*"
black = "*"
pytest-cov = "*"
flake8 = "*"
cookiecutter = "*"
pylint = "*"
pre-commit = "*"

[packages]
sqlalchemy = "*"
requests = "*"
mysqlclient = "*"
httpie = "*"
django = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
