[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
wily = "*"
black = "*"
pytest-cov = "*"
flake8 = "*"
cookiecutter = "*"

[packages]
sqlalchemy = "*"
requests = "*"
ramses = "*"
cryptacular = {editable = true,hg = "https://bitbucket.org/dholth/cryptacular",ref = "cb96fb3"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
